---
layout: default
---
<link href="/css/override.css" rel="stylesheet" type="text/css">
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <code>
    ___ _   _               _     _         _                  
    |_ _| |_( )___    __ _  | |__ (_)_ __ __| |                 
     | || __|// __|  / _` | | '_ \| | '__/ _` |                 
     | || |_  \__ \ | (_| | | |_) | | | | (_| |_                
    |___|\__| |___/  \__,_| |_.__/|_|_|  \__,_( )               
         (_) |_( )___    __ _   _ __ | | __ _ |/__   ___        
         | | __|// __|  / _` | | '_ \| |/ _` | '_ \ / _ \       
         | | |_  \__ \ | (_| | | |_) | | (_| | | | |  __/_      
         |_|\__| |___/  \__,_| | .__/|_|\__,_|_| |_|\___( )     
               _ _   _         |_|     ____  _     ___  |/___ _ 
              (_) |_( )___     / \    | __ )| |   / _ \ / ___| |
              | | __|// __|   / _ \   |  _ \| |  | | | | |  _| |
              | | |_  \__ \  / ___ \  | |_) | |__| |_| | |_| |_|
              |_|\__| |___/ /_/   \_\ |____/|_____\___/ \____(_)
              </code>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {% assign author = page.author | default: site.author %}
      {%- if author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="share-links">
    {% include sharelinks.html %}
  </div>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
    {% include navlinks.html %}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>